.is-sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 997;
    /* box-shadow: 0 2px 24px 0 rgb(0 0 0 / 15%); */
    background-color: #ffc244 !important;
    animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
    padding-top: 110px;
    padding-bottom: 80px;
}

.header-section,
.is-sticky,
.d-none,
.d-xl-block,
.mainInputBtn {
    padding: auto;
    background-color: #ffc244;

}


.mainInputBtn {
    padding-top: 60px;
}